
<section>
  <div class="spinner" style="text-align:center">
    <mat-spinner *ngIf="showSpinner"></mat-spinner>
  </div>
  <button (click)="loadData()" mat-raised-button color="primary">Submit</button>

</section>
