@import "../../../variables";
button {
  background-color: $button-color;
  color: $toolbar-font-color;
}

.spinner {
  display:flex;
  stroke: $primary-color;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  stroke: $primary-color;
}

.snackBar {
  stroke: black;
  background-color: red;
}
/*
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #000000;
  stroke: $primary-color;
  animation: spinner 0.8s linear infinite;
}
 */
