@import "../../variables";
.toolbar {
  background-color: $primary-color;
}

.toolbar-font {
  color: $toolbar-font-color;
}

.icon {
  background-color: $toolbar-icon-background-color;
  color: $toolbar-icon-color;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: $toolbar-icon-background-color;
  font-family: "Roboto Condensed", sans-serif;
}

.logo {
  color: $toolbar-icon-color;
  text-align: justify;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: $toolbar-icon-color;
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: $toolbar-icon-background-color;
  margin: 5px;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: $primary-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  /* .nav-links li {
    opacity: 0;
  } */

  /* .nav-links a {
    color: #dadada;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
  } */

  .burger {
    display: block;
    cursor: pointer;
  }

  .nav-active {
    transform: translateX(0%);
  }

  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transfrom: translateX(0px);
    }
  }
}

/* button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
}
 */
