<nav class="nav">
  <mat-toolbar color="primary" class=toolbar>
    <button mat-icon-button class="icon">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="toolbar-font" id=logo>
      <div class="logo">
        <h4>Tiny App</h4>
      </div>
    </div>
    <ul class="nav-links">
      <li>
        <button mat-icon-button class="icon">
          <a href="https://elvira.mav-start.hu/" target="_blank">
            <mat-icon>train</mat-icon>
          </a>
        </button>
      </li>
      <li>
        <button mat-icon-button class="icon">
          <a href="https://hu.wikipedia.org/wiki/SOS_(jelz%C3%A9s)" target="_blank">
            <mat-icon>help</mat-icon>
          </a>
        </button>
      </li>
      <li>
        <button (click)="close()" mat-icon-button class="icon">
          <mat-icon>exit_to_app</mat-icon>
        </button>
      </li>
    </ul>
  </mat-toolbar>

  <!--  <body>
    <nav>

      <h4>Tower Defense</h4> -->
  <!-- <h6>Protect yourself against waves of enemies</h6> -->


  <!--

      <li>
        <a href="#">Load</a>
      </li>
      <li>
        <a href="editor.html">Editor</a>
      </li>
      <li>
        <a href='highscore.html' onclick="document.location = 'highscore.html'">High Score</a>
      </li>
      <li>
        <a href="#">Rules</a>
      </li>
      </ul>
      <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>
          <div><img src="image/pachon4.jpg"></div>
    </nav>
    <script src="app.js"></script>
  </body>
</nav> -->
