<nav>
  <form ngNoForm>
    <ul class="nav-links">

      <a>
        <div *ngFor="let item of forms; let i = index" class="form">
          <input placeholder={{item}} name=name>
        </div>
      </a>

    </ul>
  </form>
</nav>
