$primary-color: #283618;
$background-color: #606c38;
$toolbar-font-color: #dda15e;
$toolbar-icon-color: #dda15e;
$toolbar-icon-background-color: $primary-color;
$form-background-color: #dda15e;
$button-color: $primary-color;
