@import "~@angular/material/theming";
@include mat-core();

@import "variables";

body {
  background-image: repeating-linear-gradient(
      45deg,
      rgba(134, 134, 134, 0.11) 0px,
      rgba(134, 134, 134, 0.11) 46px,
      rgba(61, 61, 61, 0.11) 46px,
      rgba(61, 61, 61, 0.11) 67px,
      rgba(80, 80, 80, 0.11) 67px,
      rgba(80, 80, 80, 0.11) 83px,
      rgba(56, 56, 56, 0.11) 83px,
      rgba(56, 56, 56, 0.11) 104px,
      rgba(202, 202, 202, 0.11) 104px,
      rgba(202, 202, 202, 0.11) 148px,
      rgba(65, 65, 65, 0.11) 148px,
      rgba(65, 65, 65, 0.11) 176px,
      rgba(121, 121, 121, 0.11) 176px,
      rgba(121, 121, 121, 0.11) 193px,
      rgba(129, 129, 129, 0.11) 193px,
      rgba(129, 129, 129, 0.11) 226px
    ),
    repeating-linear-gradient(
      45deg,
      rgba(158, 158, 158, 0.11) 0px,
      rgba(158, 158, 158, 0.11) 37px,
      rgba(42, 42, 42, 0.11) 37px,
      rgba(42, 42, 42, 0.11) 64px,
      rgba(34, 34, 34, 0.11) 64px,
      rgba(34, 34, 34, 0.11) 108px,
      rgba(41, 41, 41, 0.11) 108px,
      rgba(41, 41, 41, 0.11) 148px,
      rgba(187, 187, 187, 0.11) 148px,
      rgba(187, 187, 187, 0.11) 193px,
      rgba(68, 68, 68, 0.11) 193px,
      rgba(68, 68, 68, 0.11) 234px,
      rgba(37, 37, 37, 0.11) 234px,
      rgba(37, 37, 37, 0.11) 260px,
      rgba(213, 213, 213, 0.11) 260px,
      rgba(213, 213, 213, 0.11) 271px
    ),
    repeating-linear-gradient(
      45deg,
      rgba(163, 163, 163, 0.11) 0px,
      rgba(163, 163, 163, 0.11) 34px,
      rgba(110, 110, 110, 0.11) 34px,
      rgba(110, 110, 110, 0.11) 52px,
      rgba(236, 236, 236, 0.11) 52px,
      rgba(236, 236, 236, 0.11) 82px,
      rgba(75, 75, 75, 0.11) 82px,
      rgba(75, 75, 75, 0.11) 106px,
      rgba(179, 179, 179, 0.11) 106px,
      rgba(179, 179, 179, 0.11) 126px,
      rgba(229, 229, 229, 0.11) 126px,
      rgba(229, 229, 229, 0.11) 157px,
      rgba(111, 111, 111, 0.11) 157px,
      rgba(111, 111, 111, 0.11) 173px,
      rgba(151, 151, 151, 0.11) 173px,
      rgba(151, 151, 151, 0.11) 184px
    ),
    linear-gradient(90deg, rgb(96, 108, 56), rgb(71, 21, 7));
}
/*
$my-theme-primary: mat-palette($mat-indigo);
$my-theme-accent: mat-palette($mat-purple);
$my-theme-warn: mat-palette($mat-pink);

$my-theme: mat-light-theme($my-theme-primary, $my-theme-accent, $my-theme-warn);

@include angular-material-theme($my-theme); */
